*.pnp.js
*.log
*.DS_Store
*.pem
*.tsbuildinfo
*.env.*
*.eslintrc

.ipynb_checkpoints/

cms/logs
cms/.sanity
cms/static
cms/dist
cms/node_modules
cms/.pnp
cms/coverage
cms/confession.ndjson
cms/sermons.ndjson
cms/mp3List.js

frontend/.cache
frontend/public
frontend/node_modules

data/
mp3s/
venv/




